<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal</title>
    <link rel="stylesheet" href="styles.css">

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
</head>
<body>
    <h1>Menú Principal</h1>
    <br><br>
    <button class="button" onclick="window.location.href='/usuarios'">Usuarios</button>
    <br><br>
    <button class="button" onclick="window.location.href='/peliculas'">Peliculas</button>
    <br><br>
    <button class="button" onclick="window.location.href='/rentar'">Rentas</button>
</body>
</html>









