<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pelicula Agregada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Editar Usuario</h1>

    <ul>
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>

    <form method="POST" action="{{ url_for('usuario.editar_usuario', id_usuario=id_usuario) }}">
        <ul>
            <li>
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" value="{{ request.form['nombre'] }}" required>
            </li>

            <li>
                <label for="ap_pat">Apellido Paterno:</label>
                <input type="text" name="ap_pat" value="{{ request.form['ap_pat'] }}" required>
            </li>

            <li>
                <label for="ap_mat">Apellido Materno:</label>
                <input type="text" name="ap_mat" value="{{ request.form['ap_mat'] }}">
            </li>

            <li>
                <label for="password">Contraseña:</label>
                <input type="password" name="password" value="{{ request.form['password'] }}" required>
            </li>

            <li>
                <label for="email">Email:</label>
                <input type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" value="{{ request.form['email'] }}" required>
            </li>
        </ul>

        <button type="submit">Guardar Cambios</button>
    </form>

    <a href="{{ url_for('usuario.menu_usuarios') }}">Cancelar</a>

</body>
</html>
