<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrar Usuario</title>
    
</head>
<body>
    <div class="container">
        <h1>Borrar Usuario</h1>
        <div class="form-group">
            <form action="/borrar_usuario" method="POST">
                <label for="idUsuario">Ingrese el ID del usuario:</label>
                <input type="text" id="idUsuario" name="idUsuario">
                <button type="submit">Eliminar Usuario</button>
            </form>
        </div>
    </div>
</body>
</html>
