<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de Rentas</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Menú de Rentas</h1>
        <br><br>
        <button class="button" onclick="window.location.href='/rentar/ver_Renta'">Ver Rentas</button>
        <br><br>
        <button class="button" onclick="window.location.href='/rentar/nuevo'">Agregar Rentas</button>
        <br><br>
        <button class="button" onclick="window.location.href='/rentar/actualizar/<int:id>'">Actualizar Entrega</button>
    </div>
</body>
</html>