.renta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: navy;
}

.renta__description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
}

.renta h2 {
    color: white;
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    color: white;
}

@media (min-width: 580px) {
    .renta__description {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
    }

    .renta__description h2 {
        font-size: 1.25rem;
    }
}